<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- PLEASE CHANGE THIS WHEN WE DECIDE NAME-->
    <title> HTN 2019 Project </title>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 75%;
        width: 75%;
        margin-left: 12.5%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">HTN 2019 Project</a> <!-- AGAIN, CHANGE THIS NAME-->
            </div>
          </div>
        </nav>
    </header>
    
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <div class = "jumbotron">
            <h1 class = "display-4"> HTN Project 2019 </h1>
            <p class = 'lead'> Curate your spending decisions based on similar TD customers </p>
            <hr class = "my-4">
            <h2 class = "display-4"> How to use the app</h2>
            <ol>
              <li> Enter your TD credentials </li>
              <li> Drop a pin to an area where you want to purchase </li>
              <li> Select what type of products/services you are looking for (food, leisure, etc.) </li>
              <li> Enter your spending preferences and click submit </li> 
              <li> Watch as our algorithm finds places near to you where users with similar spending preferences have used </li>
            </ol>
          </div>
        </div>
      </div>

      <div class = 'col-md-12'>
        <p> Drop a pin in your location! </p>
      </div>
    </main>

    <div id="map"></div>

    <main role = 'main' class = 'container'>
      <div class = 'col-md-12'>

        <!-- Number of recommendation -->
      </div>

      <div class = 'col-md-12'>
        <p> Choose your spending preferences. </p>
        <!-- Create sliders here. Again, send it ov-->
      </div>

      <div class = 'col-md-12'>
        <p> Choose which establishments you would like to be recommended for. </p>
        <!-- Go to da vinci and create my own customer -> look at tags -->
      </div>

      <div class = 'col-md-12'>
        <p> Here is a map of our recommendations based on your location. </p>
          <!-- Call in Google Maps api --> 
      </div>
    </main>

    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 43.6532, lng: -79.3832}
        });

        map.addListener('click', function(e) {
          placeMarkerAndPanTo(e.latLng, map);
          sendToJson(e.latLng.toJSON());
        });
      }

      function placeMarkerAndPanTo(latLng, map) {
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });
        map.panTo(latLng);
      }

      function sendToJson (coordinates){
        latitude = coordinates['lat'];
        longitude = coordinates['lng'];
        jsonData = `{"lat": ${latitude}, "lng": ${longitude}}`;
        console.log(jsonData)

        var url = "http://127.0.0.1:5000/reciever"

        $.ajax({
          url: url,
          type: "POST",
          data: jsonData,
          contentType: "application/json; charset = utf-8",
          dataType: "json",
          success: function() {console.log("Success")}
        })
        
        /*
        $.post(url, JSON.stringify(jsonData), function(){
          console.log(JSON.stringify(jsonData));
          console.log("Posted")
        }).fail (function() {
          console.log("function call failed...");
        }); */
      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDySz37lxM4MpNo3tuUEVF7SOk26eDAr-8&callback=initMap">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  </body>
</html>