<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <!-- PLEASE CHANGE THIS WHEN WE DECIDE NAME-->
    <title> HTN 2019 Project </title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">HTN 2019 Project</a> <!-- AGAIN, CHANGE THIS NAME-->
            </div>
          </div>
        </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          <div class = "jumbotron">
            <h1 class = "display-4"> HTN Project 2019 </h1>
            <p class = 'lead'> Curate your spending decisions based on similar TD customers </p>
            <hr class = "my-4">
            <h2 class = "display-4"> How to use the app</h2>
            <ol>
              <li> Enter your TD credentials </li>
              <li> Drop a pin to an area where you want to purchase </li>
              <li> Select what type of products/services you are looking for (food, leisure, etc.) </li>
              <li> Enter your spending preferences and click submit </li> 
              <li> Watch as our algorithm finds places near to you where users with similar spending preferences have used </li>
            </ol>
          </div>
        </div>
      </div>

      <div class = 'col-md-12'>
        <p> Drop a pin in your location! </p>
           <!-- Put in Google maps and display location. Get the coordinates and send it over to Brendon-->
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{api_key}}&q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
      </div>

      <div class = 'col-md-12'>
        <!-- NUmber of recommendation -->
      </div>

      <div class = 'col-md-12'>
        <p> Choose your spending preferences. </p>
        <!-- Create sliders here. Again, send it ov-->
      </div>

      <div class = 'col-md-12'>
        <p> Choose which establishments you would like to be recommended for. </p>
        <!-- Go to da vinci and create my own customer -> look at tags -->
      </div>

      <div class = 'col-md-12'>
        <p> Here is a map of our recommendations based on your location. </p>
         <!-- Call in Google Maps api --> 
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>